!pip install seaborn ## Instalado

In [2]:
import pandas as pd
import numpy as np

# gráficos
import matplotlib.pyplot as plt
import seaborn as sns

# Ejemplo 1: NOTAS

In [3]:
df = pd.DataFrame({"notas_1": [15,16,15,17,14,14,14,10,15,25], "notas_2": [16,21,16,16,13,15,15,19,22,15], 
                   "notas_3":[17,22,15,22,14,15,16,15,24,16]})
df.head(2)

   notas_1  notas_2  notas_3
0       15       16       17
1       16       21       22

### Medidas de Variabilidad:

In [4]:
# Desviación estandar: Delta Degrees of Freedom --> ddof
std_1 = df.notas_1.std(ddof=0)
std_2 = df.notas_2.std(ddof=0)
std_3 = df.notas_3.std(ddof=0)

In [5]:
# Varianza
varianza_1 = df.notas_1.var(ddof=0)
varianza_2 = df.notas_2.var(ddof=0)
varianza_3 = df.notas_3.var(ddof=0)

### Rango intercuartílico - IQR

In [6]:
rango_1 = df.notas_1.max() - df.notas_1.min()
iqr_1 = df.notas_1.quantile(0.75) - df.notas_1.quantile(0.25)

In [7]:
rango_2 = df.notas_2.max() - df.notas_2.min()
iqr_2 = df.notas_2.quantile(0.75) - df.notas_2.quantile(0.25)

In [8]:
rango_3 = df.notas_3.max() - df.notas_3.min()
iqr_3 = df.notas_3.quantile(0.75) - df.notas_3.quantile(0.25)

### Finding Outliers

In [9]:
superiores_1 = df.notas_1.quantile(0.75) + 1.5*iqr_1
superiores_2 = df.notas_2.quantile(0.75) + 1.5*iqr_2
superiores_3 = df.notas_3.quantile(0.75) + 1.5*iqr_3

In [10]:
inferiores_1 = df.notas_1.quantile(0.25) - 1.5*iqr_1
inferiores_2 = df.notas_2.quantile(0.25) - 1.5*iqr_2
inferiores_3 = df.notas_3.quantile(0.25) - 1.5*iqr_3

In [13]:
print(f'Límite de valores válidos nota_1: {inferiores_1} - {superiores_1}')
print(f'Límite de valores válidos nota_2: {inferiores_2} - {superiores_2}')
print(f'Límite de valores válidos nota_3: {inferiores_3} - {superiores_3}')

Límite de valores válidos nota_1: 11.375 - 18.375
Límite de valores válidos nota_2: 10.125 - 23.125
Límite de valores válidos nota_3: 6.375 - 29.375