In [1]:
import pandas as pd
import numpy as np

# EJERCICIO 1

    1) Haz un programa que calcule los múltiplos de 3
    Para ello primero debe preguntarse al usuario cuántos múltiplos desea añadir.
    Nota: Puedes usar un bucle while si lo deseas


    2) Haz lo mismo con np.arange

In [8]:
def num_multiplo():
    multiplo,n = 0,1
    num_mul = int(input('cuántos múltiplos desea añadir:...'))
    
    while n <= num_mul:
        multiplo = multiplo + 3
        print(multiplo)          
        
        n += 1

In [9]:
num_multiplo()

cuántos múltiplos desea añadir:...3
3
6
9

In [14]:
def num_multiplo1():
    num_mul = int(input('cuántos múltiplos desea añadir:...'))
    multiplos_3 = np.arange(3,(num_mul*3)+1,3)
    return f'Los multiplos de 3 en array {multiplos_3}', multiplos_3

In [15]:
num_multiplo1()

cuántos múltiplos desea añadir:...3

('Los multiplos de 3 en array [3 6 9]', array([3, 6, 9]))

# EJERCICIO 2

    Dado el listado del apartado 2
    Dada esta lista de variable "listado" y "valores": 10, 10, 20, 20, 20, 30, 40
    Se pide:


    1) Crea un DataFrame con esa información e imprímelo


    2) Usa value_counts() para determinar cuántas repeticiones hay de cada número en esa columna


    3) Haz un ".shape" a esa información del value_counts()

        NOTA: Escribe: .shape justo al final


    4) A esa misma instrucción con value_counts() escribe al final ".values"

        Y veras la información..

        pasa esa información a lista si puedes

        y guarda ese listado como "repeticiones"


    5) A esa información de value_counts() añade al final ".index"

        Y pasa posteriormente a lista esa información

        y guarda ese listado con el nombre: "valores"


    6) Crea un DataFrame con 2 columnas,

        1 para "valores"

        1 para "repeticiones"

        llámalo: "df_value_counts" (por ejemplo)

        Y observa..


    7) Haz lo siguiente: "df.value_counts()"

    8) Observa si hay diferencias entre: "df" y "df_value_counts"

In [19]:
listado = num_multiplo1()[1].tolist()
listado

cuántos múltiplos desea añadir:...8

[3, 6, 9, 12, 15, 18, 21, 24]

In [22]:
valores = [10, 10, 20, 20, 20, 30, 40]
valores

[10, 10, 20, 20, 20, 30, 40]

In [23]:
df = pd.DataFrame(list(zip(listado,valores)), columns = ['listado','valores'])
df

   listado  valores
0        3       10
1        6       10
2        9       20
3       12       20
4       15       20
5       18       30
6       21       40

In [26]:
df = pd.DataFrame(valores, columns = ['listado'])
df

   listado
0       10
1       10
2       20
3       20
4       20
5       30
6       40

In [27]:
df.value_counts()

listado
20         3
10         2
30         1
40         1
dtype: int64

In [28]:
df.value_counts().shape

(4,)

In [31]:
repeticiones = df.value_counts().values.tolist()
repeticiones

[3, 2, 1, 1]

In [32]:
valores = df.value_counts().index.tolist()
valores

[(20,), (10,), (30,), (40,)]

In [35]:
df_value_counts = pd.DataFrame(list(zip(repeticiones,valores)), columns = ['repeticiones','valores'])
df_value_counts

   repeticiones valores
0             3   (20,)
1             2   (10,)
2             1   (30,)
3             1   (40,)

In [39]:
df.value_counts()

listado
20         3
10         2
30         1
40         1
dtype: int64

# EJERCICIO 3

    Comparación de matrices. Haz el código que testee si esas 2 matrices son iguales
    1)Dadas:
    matriz1 = np.array([[1,2],[3,4]])
    matriz2 = np.array([[1,2],[3,8]])
    
    PISTAS:

        -1- RECORRER MATRIZ1 Y MATRIZ2 CON LA PARAMETRIZACIÓN de i y j
        COMPROBAR: ( matriz1 [ i ][ j ] == matriz2 [ i ][ j ] )
        -2- crear una variable contador (inicializada en 0) y, cuando detecte, un número de una matriz en una posición concreta, y sea diferente del número que tiene LA OTRA MATRIZ..entonces..
        -3- incremento 1 unidad en dicho contador:
        SI los números son DISTINTOS
        --> entonces, que se incremente en 1 unidad..
        de tal manera que si ese contador=0 (al final)--> son todos iguales --> matriz1 = matriz2
        y si es distinto de 0 -> es que POR LO MENOS 1 vez encontró un número diferente
        matriz1 != matriz2
        -4- puedes usar np.arange( ) si lo deseas para las filas y para las columnas
        -5- recuerda el ejercicio del cronómetro para tener una referencia

In [71]:
matriz1 = np.array([[1,2],[3,4]])
matriz2 = np.array([[1,2],[3,8]])

In [72]:
n = 1
for i,j in enumerate(matriz1):
    for i1,j1 in enumerate(j):
        if matriz1 [ i ][ i1 ] == matriz2 [ i ][ i1 ]:
            if n == (matriz1.shape[0]*matriz1.shape[1]):
                print('Matrices iguales')
        else:
            print('Matrices NO iguales')

        n += 1

Matrices NO iguales

In [74]:
n = 0
for i,j in enumerate(matriz1):
    for i1,j1 in enumerate(j):
        if matriz1 [ i ][ i1 ] != matriz2 [ i ][ i1 ]:
             n += 1
        
if n != 0:
    print('POR LO MENOS 1 vez encontró un número diferente')
else:
    print('Son todos iguales --> matriz1 = matriz2')

POR LO MENOS 1 vez encontró un número diferente