In [ ]:
import pandas as pd

# Ejercicio 1

    Desarrolla el siguiente ejercicios de POO:
   * Alumnos  -> Es la clase.
   * __init__ -> Es el método init
   * nombre, edad, asignatura y nota son las propiedades
   * Instanciamos..
   * los posibles alumnos (alumno1, alumno2, alumno3..) --> son los "objetos"
   * y el.__init__ los inicializa
   A continuación muestra la edad del alumno 2 y el alumno 3 y sus notas

# Ejercicio 2

    Escribir un programa que pregunte al usuario su edad y muestre por pantalla todos los años que ha cumplido (desde 1 hasta su edad).

# Ejercicio 3

    Escribir un programa que pida al usuario una palabra y luego muestre por pantalla una a una las letras de la palabra introducida empezando por la última.

In [22]:
def pida_palabra():
    palabra = input('Escriba una palabra: ... ')
    i = 1
    while i <= len(palabra):
        print(f'{palabra[-i]}')
        i += 1

In [23]:
pida_palabra()

Escriba una palabra: ... pantalla
a
l
l
a
t
n
a
p

# Ejercicio 4

    Escribir un programa que pregunte el nombre completo del usuario en la consola y
    después muestre por pantalla el nombre completo del usuario tres veces,
    una con todas las letras minúsculas, otra con todas las letras mayúsculas y otra solo con la primera letra del nombre y de los apellidos en mayúscula.
    El usuario puede introducir su nombre combinando mayúsculas y minúsculas como quiera.

In [1]:
def nombre_completo():
    nombre = input('Escriba su nombre completo de usuario: ... ')
    return f'Su nombre completo es: {nombre.lower()}, {nombre.upper()}, {nombre.title()}'

In [2]:
nombre_completo()

Escriba su nombre completo de usuario: ... Maria Mendoza

'Su nombre completo es: maria mendoza, MARIA MENDOZA, Maria Mendoza'

# Ejercicio 5

    Los teléfonos de una empresa tienen el siguiente formato prefijo-número-extension donde el prefijo es el código del país +34, y la extensión tiene dos dígitos (por ejemplo +34-913724710-56).
    Escribir un programa que pregunte por un número de teléfono con este formato y muestre por pantalla el número de teléfono sin el prefijo y la extensión.

In [27]:
def telefonos_empresa():
    tlf = input('Escriba el número de teléfono con este formato - prefijo-número-extension -: ... ')
    tlf1 = []
    
    for i in tlf:
        if i not in [' ', '-', '+']:
            tlf1.append(i)
            
    if len(tlf1)==13:
        pre = tlf1[0:2]
        num = tlf1[2:11]
        ext = tlf1[11:13]
    else:
        print('\n')
        print('Verifique el numero, vuelva a intentarlo...')
        return telefonos_empresa()
    
            
    print(f'El prefijo es {"".join(pre)}')
    print('\n')
    print(f'El número es {"".join(num)}')
    print('\n')
    print(f'La extension es {"".join(ext)}')

In [26]:
telefonos_empresa()

Escriba el número de teléfono con este formato - prefijo-número-extension -: ... +34-913724710-5
Verifique el numero, vuelva a intentarlo...
Escriba el número de teléfono con este formato - prefijo-número-extension -: ... +34-913724710-56
El prefijo es 34


El número es 913724710


La extension es 56

# Ejercicio 6

    Escribir un programa que pida al usuario que introduzca una frase en la consola y una vocal,
    y después muestre por pantalla la misma frase pero con la vocal introducida en mayúscula.
    ejemplo geranio --> e --> gEranio

In [ ]:
def pida_frase():
    frase = input('Introduzca una frase en la consola: ...')
    vocal = input('Introduzca una vocal en la consola: ...')

# Ejercicio 7

    Escribir un programa que pregunte por consola el precio de un producto en euros con dos decimales
    y muestre por pantalla el número de euros y el número de céntimos del precio introducido.
    Ejemplo: 24.75 --> 24 Euros con 75 Centimos

# Ejercicio 8

    Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:
    Mes Ventas Gastos
    Enero 30500 22000
    Febrero 35600 23400
    Marzo 28300 18100
    Abril 33900 20700

In [61]:
import pandas as pd

Meses = ['Enero','Febrero','Marzo','Abril']
Ventas = [30500,35600,28300,33900]
Gastos = [22000,23400,18100,20700]



def genere_DataFrame(Meses,Ventas,Gastos):  
    
    df = pd.DataFrame()

    df['Mes'] = Meses
    df['Ventas'] = Ventas
    df['Gastos'] = Gastos

    return df

In [60]:
df = genere_DataFrame(Meses,Ventas,Gastos)
df

[22000, 23400, 18100, 20700] <class 'list'>

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

# Ejercicio 9

    Escribir una función que reciba un DataFrame con el formato del ejercicio anterior,
    una lista de meses, y devuelva el balance (ventas - gastos) total en los meses indicados.

In [67]:
def genere_DataFrame1(df): 
    df_1 =df[['Mes']] 
    df_1['Balance'] = df.Ventas - df.Gastos
    return df_1

In [68]:
genere_DataFrame1(df)

C:\Users\Leandro Vargas\AppData\Local\Temp\ipykernel_13904\2762426622.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Balance'] = df.Ventas - df.Gastos

       Mes  Balance
0    Enero     8500
1  Febrero    12200
2    Marzo    10200
3    Abril    13200

# Ejercicio 10

    Escribir un programa que almacene las asignaturas de un curso
    (por ejemplo Matemáticas, Física, Química, Historia y Lengua) en una lista,
    pregunte al usuario la nota que ha sacado en cada asignatura,
    y después las muestre por pantalla con el mensaje "Has sacado ASIGNATURA la nota de NOTA"
    donde es cada una de las asignaturas de la lista y cada una de las correspondientes notas introducidas por el usuario.